process.container = 'quay.io/nextflow/bash'

profiles {
    spanish {
        params.greeting = "Hola"
    }

    italian {
        params.greeting = "Ciao"
    }

    french {
        params.greeting = "Salut"
    }

    short {
        params.timeout = 5
    }

    long {
        params.timeout = 60
    }

    longer {
        params.timeout = 120
    }
}

